PORT=5065

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=changeme
PGDATABASE=zonic

JWT_SECRET_KEY=YourSuperSecretKeyThatIsAtLeast32BytesLong!!
JWT_ISSUER=ZonicApi
JWT_AUDIENCE=ZonicApp
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=600
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=30

GAME_ZONE_PRECISION=7
GAME_GROUP_PRECISION=5
GAME_MAX_SPEED_MPS=12.0
GAME_MIN_ACCURACY_METERS=50.0
GAME_RATE_LIMIT_SECONDS=1.0
GAME_BATCH_SIZE=100
GAME_BATCH_INTERVAL_MS=1000
